## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb

## Intermediate documents:
*.dvi
*.xdv
*-converted-to.*
# these rules might exclude image files for figures etc.
# *.ps
# *.eps
# *.pdf

## Generated if empty string is given at "Please type another file name for output:"
.pdf

## Bibliography auxiliary files (bibtex/biblatex/biber):
*.bbl
*.bcf
*.blg
*-blx.aux
*-blx.bib
*.run.xml

## Build tool auxiliary files:
*.fdb_latexmk
*.synctex
*.synctex(busy)
*.synctex.gz
*.synctex.gz(busy)
*.pdfsync

## Build tool directories for auxiliary files
# latexrun
latex.out/

## Auxiliary and intermediate files from other packages:
# algorithms
*.alg
*.loa

# achemso
acs-*.bib

# amsthm
*.thm

# beamer
*.nav
*.pre
*.snm
*.vrb

# changes
*.soc

# comment
*.cut

# cprotect
*.cpt

# elsarticle (documentclass of Elsevier journals)
*.spl

# endnotes
*.ent

# fixme
*.lox

# feynmf/feynmp
*.mf
*.mp
*.t[1-9]
*.t[1-9][0-9]
*.tfm

#(r)(e)ledmac/(r)(e)ledpar
*.end
*.?end
*.[1-9]
*.[1-9][0-9]
*.[1-9][0-9][0-9]
*.[1-9]R
*.[1-9][0-9]R
*.[1-9][0-9][0-9]R
*.eledsec[1-9]
*.eledsec[1-9]R
*.eledsec[1-9][0-9]
*.eledsec[1-9][0-9]R
*.eledsec[1-9][0-9][0-9]
*.eledsec[1-9][0-9][0-9]R

# glossaries
*.acn
*.acr
*.glg
*.glo
*.gls
*.glsdefs
*.lzo
*.lzs

# uncomment this for glossaries-extra (will ignore makeindex's style files!)
# *.ist

# gnuplottex
*-gnuplottex-*

# gregoriotex
*.gaux
*.gtex

# htlatex
*.4ct
*.4tc
*.idv
*.lg
*.trc
*.xref

# hyperref
*.brf

# knitr
*-concordance.tex
# TODO Comment the next line if you want to keep your tikz graphics files
*.tikz
*-tikzDictionary

# listings
*.lol

# luatexja-ruby
*.ltjruby

# makeidx
*.idx
*.ilg
*.ind

# minitoc
*.maf
*.mlf
*.mlt
*.mtc[0-9]*
*.slf[0-9]*
*.slt[0-9]*
*.stc[0-9]*

# minted
_minted*
*.pyg

# morewrites
*.mw

# nomencl
*.nlg
*.nlo
*.nls

# pax
*.pax

# pdfpcnotes
*.pdfpc

# sagetex
*.sagetex.sage
*.sagetex.py
*.sagetex.scmd

# scrwfile
*.wrt

# sympy
*.sout
*.sympy
sympy-plots-for-*.tex/

# pdfcomment
*.upa
*.upb

# pythontex
*.pytxcode
pythontex-files-*/

# tcolorbox
*.listing

# thmtools
*.loe

# TikZ & PGF
*.dpth
*.md5
*.auxlock

# todonotes
*.tdo

# vhistory
*.hst
*.ver

# easy-todo
*.lod

# xcolor
*.xcp

# xmpincl
*.xmpi

# xindy
*.xdy

# xypic precompiled matrices and outlines
*.xyc
*.xyd

# endfloat
*.ttt
*.fff

# Latexian
TSWLatexianTemp*

## Editors:
# WinEdt
*.bak
*.sav

# Texpad
.texpadtmp

# LyX
*.lyx~

# Kile
*.backup

# gummi
.*.swp

# KBibTeX
*~[0-9]*

# TeXnicCenter
*.tps

# auto folder when using emacs and auctex
./auto/*
*.el

# expex forward references with \gathertags
*-tags.tex

# standalone packages
*.sta

# Makeindex log files
*.lpz
data/.DS_Store
data/make-list.ipynb
data/discriminants/.DS_Store
data/discriminants/[2,2,3]_disc_4_mod_16.txt
data/discriminants/p_2_[2,2,2,2]_disc_3_mod_8.txt
data/discriminants/p_2_[2,2,2,2]_disc_4_mod_16.txt
data/discriminants/p_2_[2,2,2,2]_disc_7_mod_8.txt
data/discriminants/p_2_[2,2,2,2]_disc_8_mod_16.txt
data/discriminants/p_2_[2,2,2]_disc_7_mod_8.txt
data/discriminants/p_2_[4,2,2]_disc_3_mod_8.txt
data/discriminants/p_2_[4,4,4,2]_disc_3_mod_8.txt
data/discriminants/p_2_[4,4,4,2]_disc_4_mod_16.txt
data/discriminants/p_2_[4,4,4,2]_disc_7_mod_8.txt
data/discriminants/p_2_[4,4,4,4]_disc_3_mod_8.txt
data/discriminants/p_2_[4,4,4,4]_disc_4_mod_16.txt
data/discriminants/p_2_[4,4,4,4]_disc_7_mod_8.txt
data/discriminants/p_2_[4,4,4]_disc_7_mod_8.txt
data/discriminants/p_2_[4,4]_disc_7_mod_8.txt
data/discriminants/p_2_cyc_2_2_disc_3_mod_8.txt
data/discriminants/p_2_cyc_2_2_disc_7_mod_8.txt
data/discriminants/p_2_rk_4_disc_3_mod_8.txt
data/discriminants/p_2_rk_4_disc_4_mod_16.txt
data/discriminants/p_2_rk_4_disc_7_mod_8.txt
data/discriminants/p_2_rk_4_disc_8_mod_16.txt
data/discriminants/p_2_rk_5_disc_3_mod_8.txt
data/discriminants/p_2_rk_6_disc_3_mod_8.txt
data/discriminants/p_2_rk_geq5_disc_4_mod_16.txt
data/discriminants/p_2_rk_geq6_disc_4_mod_16.txt
data/discriminants/p_2_rk_geq7_disc_4_mod_16.txt
data/discriminants/p_2_rk_geq8_disc_4_mod_16_1.txt
data/discriminants/p_2_rk_geq8_disc_4_mod_16_2.txt
data/discriminants/p_2_rk_geq8_disc_4_mod_16.txt
data/discriminants/p_3_5_disc_3_mod_8.txt
data/discriminants/p_3_5_disc_4_mod_16.txt
data/discriminants/p_3_cyc_9_9_disc_3_mod_8.txt
data/discriminants/p_3_cyc_9_9_disc_4_mod_16.txt
data/discriminants/p_3_cyc_9_9_disc_7_mod_8.txt
data/discriminants/p_3_cyc_9_9_disc_8_mod_16.txt
data/discriminants/p_3_rk_3_disc_7_mod_8.txt
data/discriminants/p_3_rk_3_disc_8_mod_16.txt
data/discriminants/p_3_rk_4_disc_3_mod_8.txt
data/discriminants/p_3_rk_4_disc_4_mod_16.txt
data/discriminants/p_3_rk_4_disc_7_mod_8.txt
data/discriminants/p_3_rk_4_disc_8_mod_16.txt
data/discriminants/p_3_rk_6_disc_3_mod_8.txt
data/discriminants/p_4_rk_3_disc_4_mod_16.txt
data/discriminants/p_4_rk_4_disc_3_mod_8.txt
data/discriminants/p_4_rk_4_disc_4_mod_16_1.txt
data/discriminants/p_4_rk_4_disc_4_mod_16_2.txt
data/discriminants/p_4_rk_4_disc_4_mod_16.txt
data/discriminants/p_4_rk_geq4_disc_4_mod_16.txt
data/discriminants/p_5_disc_3_mod_8.txt
data/discriminants/p_5_disc_4_mod_16.txt
data/discriminants/p_5_disc_7_mod_8.txt
data/discriminants/p_5_disc_8_mod_16.txt
data/discriminants/p_7_disc_3_mod_8.txt
data/discriminants/p_7_disc_4_mod_16.txt
data/discriminants/p_7_disc_7_mod_8.txt
data/discriminants/p_7_disc_8_mod_16.txt
data/polynomials/[2,2,2,2,2].gp
data/polynomials/[2,2,2,2]
data/polynomials/[3,3,3,3].gp
data/polynomials/[9,9].gp
data/polynomials/deg-4-rd-42-80
data/polynomials/deg2-16-rd-44-80
data/polynomials/fields-[2,2,2,2].gp
data/polynomials/fields-3.gp
data/polynomials/fields-4.gp
data/polynomials/fields-5.gp
data/polynomials/pol-[2,2,2,2,2]
data/polynomials/pol-[3,3,3,3]
data/polynomials/pol-[9,9]
data/polynomials/.DS_Store
K_pi_1/T42.001
K_pi_1/T42.002
K_pi_1/T42.003
K_pi_1/T42.004
K_pi_1/T42.005
K_pi_1/T42.006
K_pi_1/T42.007
K_pi_1/t60.001
K_pi_1/t62.001
K_pi_1/t62.002
K_pi_1/t64.001
K_pi_1/t66.001
main-gp-script-sta
main-gp-script.o
main-pol-sta
main-script-sta
main-sta
norms-sta
norms.c
powerful-groups.mag
quaternion-sta
terminal_output/output.txt
.DS_Store
K_pi_1/find-fields-sta
K_pi_1/find-fields.c
K_pi_1/find-fields.o
K_pi_1/Makefile
data/polynomials/rd-44-80-parts>7
data/polynomials/root-disc-42-80.gp
data/polynomials/S3_[2,2]
data/polynomials/[2,2,2,2,2].gp
data/polynomials/[2,2,2,2]
data/polynomials/[3,3,3,3].gp
data/polynomials/[9,9].gp
data/polynomials/fields-[2,2,2,2].gp
data/polynomials/pol-[2,2,2,2,2]
data/polynomials/pol-[3,3,3,3]
data/polynomials/pol-[9,9]
